@font-face {
    font-family: 'PFStardust';
    src: url('../asset/font/PF스타더스트 3.0 S.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, button, input, select, textarea {
    font-family: 'PFStardust', sans-serif;
}