<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더_게스트</title>
    <link rel="stylesheet" href="/src/main/style/Header_guest.css">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <a href="/src/main/page/main/main.html">
                <img src="/src/main/asset/logo.png" alt="사이트 로고" />
            </a>
        </div>
            <button type="button" class="login_btn" onClick="location.href='index.html'">로그인/회원가입</button>
    </div>
</header>
</body>
</html>
